newvenv/
EGNO/wandb
EGNO/simple
EGNO/simulation/dataset/simple
SEGNO/wandb
wandb/
t_wandb/
myenv1/
expSEGNO/
expEGNO/
EGNO_exp_1/
SEGNO_exp_1/
SEGNO_exp_1/
EGNO_exp_final/
SEGNO_exp_final/
EGNO_exp/exp_1/
SEGNO_exp/exp_1/
EGNO_exp_/exp_1/
SEGNO_exp_/exp_1/
plots/